<h1><%= title 'Sign In' %></h1>
<% description 'Sign in to your password.' %>
<% keywords 'Signin, login, User, Account' %>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions btn-group mt-4">
    <%= f.button :submit, "Sign In", class: 'btn btn-primary' %>
    <%= link_to :back, class: 'btn btn-secondary text-white' do %>
      <i class="bi bi-chevron-left"></i> Back
    <% end %>
  </div>
<% end %>

<%= render "users/shared/links" %>
