<div id="<%= dom_id article %>">
  <p>
    <strong>User:</strong>
    <%= article.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= article.slug %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

  <p>
    <strong>External:</strong>
    <%= article.external %>
  </p>

  <p>
    <strong>Published at:</strong>
    <%= article.published_at %>
  </p>

  <p>
    <strong>Archived at:</strong>
    <%= article.archived_at %>
  </p>

</div>
