<h1><%= title @article.title %></h1>
<% description @article.body.to_s %>
<% keywords (@article.title.split(' ') + @article.body.to_s.split(' ')).join(', ') %>

<p>By: <%= link_to @article.user.name, @article.user %></p>
<% if current_user %>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
    <% if @article.published_at %>
      <% if @article.published_at.past? %>
        <div class="mt-2"><i class="bi bi-info-circle"></i> This article is public! Published <%= local_time_ago(@article.published_at) %></div>
      <% else %>
        <div class="mt-2"><i class="bi bi-info-circle"></i> This article will go public on <%= local_time(@article.published_at) %></div>
      <% end %>
    <% else %>
      <div class="mt-2"><i class="bi bi-info-circle"></i> This article is not scheduled for publication</div>
    <% end %>
    <%= link_to edit_article_path(@article), class: 'btn btn-primary' do %>
      <i class="bi bi-pencil-square"></i> Edit
    <% end %>
    <%= link_to @article, 'data-turbo-method': :delete, class: 'btn btn-danger', data: { turbo_confirm: 'Are you sure you wish to archive this article? It will be removed from public view. You will be able to restore it.' } do %>
      <i class="bi bi-archive"></i> Archive
    <% end %>
  </div>
<% end %>

<%= @article.body %>

<%= link_to :back, class: 'btn btn-outline-primary mt-4' do %>
  <i class="bi bi-chevron-left"></i> Back
<% end %>
