<h1><%= title "About #{@user.name}" %></h1>
<% description @user.profile.to_s %>
<% keywords ([@user.name] + @user.profile.to_s.split(' ')).join(', ') %>

<% if @user.name == 'Richard M' %>
  <%= image_tag '/profile_photo2.jpg', class: 'mx-auto d-block img-thumbnail rounded-circle col-5 md:col-3' %>
<% elsif @user.name == 'Coleen Lawrence' %>
  <%= image_tag '/profile_photo1.jpg', class: 'mx-auto d-block img-thumbnail rounded-circle col-5 md:col-3' %>
<% elsif @user.name == 'Addison Martin' %>
  <%= image_tag '/profile_photo3.jpg', class: 'mx-auto d-block img-thumbnail rounded-circle col-5 md:col-3' %>
<% end %>

<%= @user.profile %>

<% if current_user&.id == @user.id %>
  <%= link_to edit_user_registration_path, class: 'btn btn-outline-primary mt-4' do %>
    <i class="bi bi-person-lines-fill"></i> Edit Profile
  <% end %>
<% end %>

<%= link_to :back, class: 'btn btn-outline-primary mt-4' do %>
  <i class="bi bi-chevron-left"></i> Back
<% end %>
