<% description 'We work closely with community organizations to regularly transport quality surplus food to outreach programs.' %>
<% keywords 'ottawa food rescue, ottawa, food rescue, community organizations, transport, quality, surplus food, outreach programs' %>

<div class="p-5 mb-2 bg-light border border-dark rounded-3 text-center">
  <div class="container-fluid py-3">
    <h1 class="display-5 fw-bold">Ottawa Food Rescue</h1>
    <p class="fs-4 pt-4">We work with donors, volunteers and charities to ensure those in our community that may need a helping hand have access to quality food.</p>
    <p class="fs-4">Our volunteers regularly deliver dairy, fruit, vegetables and baked goods from generous supermarkets to community cupboards, fridges and our city's outreach programs.</p>
  </div>
</div>

<div class="text-center">
  <img src="<%= image_url('OttawaFoodRescue_Logo.png') %>" class="img-fluid">
</div>

<h2 class="mt-2">Social Media Links</h2>
<%= link_to 'https://www.facebook.com/OttawaFoodRescue/', class: 'btn btn-lg btn-outline-primary mb-4', target: :_blank do %>
  <i class="bi bi-facebook"></i> Follow us on Facebook!
<% end %>

<% if current_user %>
  <h2>Authorized User Actions</h2>
  <div class="d-grid gap-1 mb-4">
    <%= link_to "Create New Page", new_page_path, class: 'btn btn-outline-primary' %>
  </div>
<% end %>

<h2 class="mt-4">Administrative Contacts</h2>
<p>Many dedicated and passionate volunteers work hard to support our mission. Our outreach, dispatch, and network contacts include:</p>

<% if @users %>
  <div id="users">
    <div class="row row-cols-1 row-cols-md-3 g-2">
      <% @users.each do |user| %>
        <%= render user %>
      <% end %>
    </div>
  </div>
<% end %>

<h2 class="mt-4">All Pages</h2>

<div id="pages">
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-2">
    <% @pages.each do |page| %>
      <%= render page %>
    <% end %>
  </div>
</div>

