<% description 'We work closely with community organizations to regularly transport quality surplus food to outreach programs.' %>
<% keywords 'ottawa food rescue, ottawa, food rescue, community organizations, transport, quality, surplus food, outreach programs' %>

<div class="p-5 mb-4 bg-light border border-dark rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Ottawa Food Rescue</h1>
    <p class="col-md-8 fs-4">Addressing food insecurity by working with donors, volunteers, and local charities to ensure vulnerable individuals and families have access to quality food. Our volunteers transport overflow of dairy produce, and bakery items from supermarkets to local charities. There, they are made available to those who would not otherwise have a meal.</p>
    <%= link_to 'https://www.facebook.com/OttawaFoodRescue/', class: 'btn btn-lg btn-outline-primary', target: :_blank do %>
      <i class="bi bi-facebook"></i> Follow us on Facebook!
    <% end %>
  </div>
</div>

<div class="text-center">
  <img src="<%= image_url('OttawaFoodRescue_Logo.png') %>" class="img-fluid">
</div>

<% if current_user %>
  <h2>Authorized User Actions</h2>
  <div class="d-grid gap-1 mb-4">
    <%= link_to "Create New Page", new_page_path, class: 'btn btn-outline-primary' %>
    <%= link_to "Create New Article", new_article_path, class: 'btn btn-outline-primary' %>
  </div>
<% end %>

<h2 class="mt-4">Some of Our Members</h2>
<p>Many talented and dedicated people work hard </p>

<% if @users %>
  <div id="users">
    <div class="row row-cols-1 row-cols-md-3 g-2">
      <% @users.each do |user| %>
        <%= render user %>
      <% end %>
    </div>
  </div>
<% end %>

<h2 class="mt-4">All Pages</h2>

<div id="pages">
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-2">
    <% @pages.each do |page| %>
      <%= render page %>
    <% end %>
  </div>
</div>

<h2 class="mt-4">News</h2>

<div class="d-grid gap-2">
  <%= link_to "Read News About Us and From Around the Community", articles_path, class: 'btn btn-outline-primary' %>
</div>
