<div class="p-5 mb-4 bg-light border border-primary rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Ottawa Food Rescue</h1>
    <p class="col-md-8 fs-4">We work closely with community organizations to regularly transport qulaity surplus food to outreach programs.</p>
    <%= link_to 'https://www.facebook.com/OttawaFoodRescue/', class: 'btn btn-lg btn-outline-secondary', target: :_blank do %>
      <i class="bi bi-facebook"></i> Follow us on Facebook!
    <% end %>
  </div>
</div>

<div class="text-center">
  <img src="<%= image_url('OttawaFoodRescue_Logo.png') %>" class="img-fluid">
</div>

<% if current_user %>
  <h2>Authorized User Actions</h2>
  <div class="d-grid gap-1 mb-4">
    <%= link_to "Create New Page", new_page_path, class: 'btn btn-outline-secondary' %>
    <%= link_to "Create New Article", new_article_path, class: 'btn btn-outline-secondary' %>
  </div>
<% end %>

<h2>Our Memebers</h2>

<% if @users %>
  <div id="users">
    <div class="row row-cols-3 row-cols-md-6 g-2">
      <% @users.each do |user| %>
        <%= render user %>
      <% end %>
    </div>
  </div>
<% end %>

<h2>All Pages</h2>

<div id="pages">
  <div class="row row-cols-1 row-cols-md-2 g-2">
    <% @pages.each do |page| %>
      <%= render page %>
    <% end %>
  </div>
</div>
