<h1><%= title @page.title %></h1>
<% if @page.subtitle %>
  <h3><%= @page.subtitle %></h3>
  <% description @page.subtitle %>
  <% keywords (@page.subtitle.split(' ') + @page.body.to_s.split(' ')).join(', ') %>
<% else %>
  <% description @page.body.to_s %>
  <% keywords @page.body.to_s.split(' ') %>
<% end %>

<% if current_user %>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
    <% if @page.published_at %>
      <% if @page.published_at.past? %>
        <div class="mt-2"><i class="bi bi-info-circle"></i> This page is public! Published <%= local_time_ago(@page.published_at) %></div>
      <% else %>
        <div class="mt-2"><i class="bi bi-info-circle"></i> This page will go public on <%= local_time(@page.published_at) %></div>
      <% end %>
    <% else %>
      <div class="mt-2"><i class="bi bi-info-circle"></i> This page is not scheduled for publication</div>
    <% end %>
    <%= link_to edit_page_path(@page), class: 'btn btn-primary' do %>
      <i class="bi bi-pencil-square"></i> Edit
    <% end %>
    <%= link_to @page, 'data-turbo-method': :delete, class: 'btn btn-danger', data: { turbo_confirm: 'Are you sure you wish to archive this page? It will be removed from public view. You will be able to restore it.' } do %>
      <i class="bi bi-archive"></i> Archive
    <% end %>
  </div>
<% end %>

<% if @page.title == 'In Action' %>

    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
        <%= image_tag '/site_photo18.png', class: 'img-fluid img-thumbnail mx-auto d-block' %>
        <p class='pt-4'>Fully loaded with donations headed out to inner-city programs in need.</p>
        <hr>
        <%= image_tag '/site_photo1.jpg', class: 'img-fluid img-thumbnail mx-auto d-block' %>
        <p class='pt-4'>Team members Julie and Coleen working with Parkdale Food Centre delivering participants their meal kits. These kits are coupled with online cooking and nutrition lessons.</p>
        <hr>
        <%= image_tag '/site_photo3.jpg', class: 'img-fluid img-thumbnail mx-auto d-block' %>
        <p class='pt-4'>Team members Richard and Graham on our weekly Ottawa Mission donation drop-off.</p>
        <hr>
        <%= image_tag '/site_photo4.jpg', class: 'img-fluid img-thumbnail mx-auto d-block' %>
        <p class='pt-4'>Team member Dan makes loading donations look easy!</p>
        <hr>
        <%= image_tag '/site_photo9.jpg', class: 'img-fluid img-thumbnail mx-auto d-block' %>
        <%= image_tag '/site_photo8.jpg', class: 'img-fluid img-thumbnail mx-auto d-block' %>
        <p class='pt-4'>Team member Graham packing up donations on one end, and team member Erling stocking up the community fridge at the other end.</p>
        <hr>
        <%= image_tag '/site_photo11.jpg', class: 'img-fluid img-thumbnail mx-auto d-block' %>
        <p class='pt-4'>Our donation drop-off weighed a little more this day! Team members Erling and Richard dropped off dairy, produce, and filling cabinets to our inner-city program recipient.</p>
        <hr>
        <%= image_tag '/site_photo12.jpg', class: 'img-fluid img-thumbnail mx-auto d-block' %>
        <%= image_tag '/site_photo13.jpg', class: 'img-fluid img-thumbnail mx-auto d-block' %>
        <p class='pt-4'>Team member Terry manging a large donation heading to shelters.</p>
        <hr>
        <%= image_tag '/site_photo7.jpg', class: 'img-fluid img-thumbnail mx-auto d-block' %>
        <p class='pt-4'>Team member Coleen and Megan Aubin of <a href="https://www.facebook.com/OttawaCommunityFoodPartnership?__tn__=-%5dK*F">Ottawa Community Food Partnership</a> loading up donations.</p>
        <hr>
        <%= image_tag '/site_photo2.jpg', class: 'img-fluid img-thumbnail mx-auto d-block' %>
        <p class='pt-4'> Team member Julie on a donation drop-off for recipients of the <a href="https://www.facebook.com/parkdalefood/?__cft__%5b0%5d=AZXBHsJuoaM6C2kNISYGkyzQQYq3rvBYzohxToQgjOf4QJZ3pXzq5gfoxmbAzVFOrEXHlE3JRvxXKEOSKPGuDwxGY9r-mLADKkBubrLDJhVKdd4sFy8AYPxWB1Vqo29kVtdMn5w7kBehnJ4f3OnMwKST-TjFj7xh6Kb8bNrlaMJDdMAg0mlgwh2hcLVWXC_E7zA&__tn__=kK-R">Parkdale Food Centre</a> online cooking class. The centre provides fresh, wholesome food to people in need, as well as teaching them how to cook healthy, delicious meals with simple ingredients.</p>
        <hr>
        <%= image_tag '/site_photo10.jpg', class: 'img-fluid img-thumbnail mx-auto d-block' %>
        <p class='pt-4'>Team member Coleen coordinating dispatch for our drivers on the road with food donations!</p>
        <hr>
        <%= image_tag '/site_photo15.jpg', class: 'img-fluid img-thumbnail mx-auto d-block' %>
        <%= image_tag '/site_photo16.png', class: 'img-fluid img-thumbnail mx-auto d-block' %>
        <p class='pt-4'>Team member Richard doing double duty rescuing food and delivering decorative iteams to a refugee family.</p>
        <hr>
        <%= image_tag '/site_photo17.jpg', class: 'img-fluid img-thumbnail mx-auto d-block' %>
        <p class='pt-4'>Sundays we stock the community fridge with fresh fruits, vegtables, cheeses, yogurt, breads, beverages, and ready-to-go packaged meals!</p>
        </div>
      </div>
    </div>

<% elsif @page.title == 'About' %>
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <%= image_tag '/site_photo18.png', class: 'img-fluid img-thumbnail mx-auto d-block' %>
          <br>
          <%= @page.body %>
        </div>
      </div>
    </div>
<% else %>
  <%= @page.body %>
<% end %>

<%= link_to :back, class: 'btn btn-outline-primary mt-4' do %>
  <i class="bi bi-chevron-left"></i> Back
<% end %>
