<h1 class="text-center"><%= title @page.title %></h1>
<% if @page.subtitle %>
  <h3 class="text-center"><%= @page.subtitle %></h3>
  <% description @page.subtitle %>
  <% keywords (@page.subtitle.split(' ') + @page.body.to_s.split(' ')).join(', ') %>
<% else %>
  <% description @page.body.to_s %>
  <% keywords @page.body.to_s.split(' ') %>
<% end %>

<% if current_user %>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
    <% if @page.published_at %>
      <% if @page.published_at.past? %>
        <div class="mt-2"><i class="bi bi-info-circle"></i> This page is public! Published <%= local_time_ago(@page.published_at) %></div>
      <% else %>
        <div class="mt-2"><i class="bi bi-info-circle"></i> This page will go public on <%= local_time(@page.published_at) %></div>
      <% end %>
    <% else %>
      <div class="mt-2"><i class="bi bi-info-circle"></i> This page is not scheduled for publication</div>
    <% end %>
    <%= link_to edit_page_path(@page), class: 'btn btn-primary' do %>
      <i class="bi bi-pencil-square"></i> Edit
    <% end %>
    <%= link_to @page, 'data-turbo-method': :delete, class: 'btn btn-danger', data: { turbo_confirm: 'Are you sure you wish to archive this page? It will be removed from public view. You will be able to restore it.' } do %>
      <i class="bi bi-archive"></i> Archive
    <% end %>
  </div>
<% end %>

<% if @page.title == 'In Action' %>

    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">

        <div id="carouselExampleCaptions" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">

            <div class="carousel-item active">
              <%= image_tag '/site_photo4.jpg', class: 'd-block w-100 img-thumbnail' %>
              <div class="carousel-caption d-none d-md-block">
                <h5>Team member Dan makes loading donations look easy!</h5>
              </div>
            </div>
            <div class="carousel-item">
              <%= image_tag '/site_photo7.jpg', class: 'd-block w-100 img-thumbnail' %>
              <div class="carousel-caption d-none d-md-block">
                <h5>Team member Coleen and Megan Aubin of <a href="https://www.facebook.com/OttawaCommunityFoodPartnership?__tn__=-%5dK*F">Ottawa Community Food Partnership</a> loading up donations.</h5>
              </div>
            </div>
            <div class="carousel-item">
              <%= image_tag '/site_photo11.jpg', class: 'd-block w-100 img-thumbnail' %>
              <div class="carousel-caption d-none d-md-block">
                <h5>Our donation drop-off weighed a little more this day! Team members Erling and Richard dropped off dairy, produce, and filling cabinets to our inner-city program recipient.</h5>
              </div>
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <hr>

        <div id="carouselExampleCaptions2" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">

          <div class="carousel-item active">
            <%= image_tag '/site_photo12.jpg', class: 'd-block w-100 img-thumbnail' %>
            <div class="carousel-caption d-none d-md-block">
              <h5>Team member Terry manging a large donation heading to the shelters.</h5>
            </div>
          </div>
          <div class="carousel-item">
            <%= image_tag '/site_photo14.jpg', class: 'd-block w-100 img-thumbnail' %>
            <div class="carousel-caption d-none d-md-block">
              <h5>Team member Julie on a donation drop-off for recipients of the <a href="https://www.facebook.com/parkdalefood/?__cft__%5b0%5d=AZXBHsJuoaM6C2kNISYGkyzQQYq3rvBYzohxToQgjOf4QJZ3pXzq5gfoxmbAzVFOrEXHlE3JRvxXKEOSKPGuDwxGY9r-mLADKkBubrLDJhVKdd4sFy8AYPxWB1Vqo29kVtdMn5w7kBehnJ4f3OnMwKST-TjFj7xh6Kb8bNrlaMJDdMAg0mlgwh2hcLVWXC_E7zA&__tn__=kK-R">Parkdale Food Centre</a> online cooking class. The centre provides fresh, wholesome food to people in need, as well as teaching them how to cook healthy, delicious meals with simple ingredients.</h5>
            </div>
          </div>
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <hr>

      <div id="carouselExampleCaptions3" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">

          <div class="carousel-item active">
            <%= image_tag '/site_photo17.jpg', class: 'd-block w-100 img-thumbnail' %>
            <div class="carousel-caption d-none d-md-block">
              <h5>Sundays we stock the community fridge with fresh fruits, vegtables, cheeses, yogurt, breads, beverages, and ready-to-go packaged meals!</h5>
            </div>
          </div>
          <div class="carousel-item">
            <%= image_tag '/site_photo8.jpg', class: 'd-block w-100 img-thumbnail' %>
            <div class="carousel-caption d-none d-md-block">
              <h5>Team member Erling packing up donations on one end of a donation run.</h5>
            </div>
          </div>
          <div class="carousel-item">
            <%= image_tag '/site_photo9.jpg', class: 'd-block w-100 img-thumbnail' %>
            <div class="carousel-caption d-none d-md-block">
              <h5>Team member Erling stocking up the community fridge at the other end of the donation run.</h5>
            </div>
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <hr>

      <div id="carouselExampleCaptions4" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions4" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions4" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div>
      <div class="carousel-inner">

        <div class="carousel-item active">
          <%= image_tag '/site_photo15.jpg', class: 'd-block w-100 img-thumbnail' %>
          <div class="carousel-caption d-none d-md-block">
            <h5>Team member Richard rescuing food.</h5>
          </div>
        </div>
        <div class="carousel-item">
          <%= image_tag '/site_photo16.jpg', class: 'd-block w-100 img-thumbnail' %>
          <div class="carousel-caption d-none d-md-block">
            <h5>Team member Richard delivering decorative iteams to a refugee family.</h5>
          </div>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions4" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions4" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <hr>

    <div id="carouselExampleCaptions5" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions5" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions5" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">

      <div class="carousel-item active">
        <%= image_tag '/site_photo10.jpg', class: 'd-block w-100 img-thumbnail' %>
        <div class="carousel-caption d-none d-md-block">
          <h5>Team member Coleen coordinating dispatch for our drivers on the road with food donations!</h5>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag '/site_photo18.jpg', class: 'd-block w-100 img-thumbnail' %>
        <div class="carousel-caption d-none d-md-block">
          <h5>Fully loaded with donations headed out to inner-city programs in need.</h5>
        </div>
      </div>
    </div>
      
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions5" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions5" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
        </div>
      </div>
    </div>

<% elsif @page.title == 'About' %>
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <%= image_tag '/site_photo18.jpg', class: 'img-fluid img-thumbnail mx-auto d-block' %>
          <br>
          <%= @page.body %>
        </div>
      </div>
    </div>
<% else %>
  <%= @page.body %>
<% end %>

<%= link_to :back, class: 'btn btn-outline-primary mt-4' do %>
  <i class="bi bi-chevron-left"></i> Back
<% end %>
