<h1><%= title 'Change Password' %></h1>
<% set_meta_tags noindex: true %>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <%= f.input :password,
                label: "New password",
                required: true,
                autofocus: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                label: "Confirm your new password",
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions btn-group mt-4">
    <%= f.button :submit, "Change My Password", class: 'btn btn-primary' %>
    <%= link_to :back, class: 'btn btn-outline-primary' do %>
      <i class="bi bi-chevron-left"></i> Back
    <% end %>
  </div>
<% end %>

<%= render "users/shared/links" %>
