<h2>Forgot Password?</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, data: { turbo: false }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions mt-4">
    <%= f.button :submit, "Send Me Reset Password Instructions", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "users/shared/links" %>
