<h1><%= title "Edit #{resource_name.to_s.humanize.capitalize}"%></h1>
<% set_meta_tags noindex: true %>

<%= simple_form_for(resource, as: resource_name, url: user_registration_path(), html: { method: :patch }, data: { turbo: false }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "Leave blank if you don't want to change your current password.",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :name %>
    <%= f.input :profile, as: :rich_text_area %>
    <%= f.input :current_password,
                hint: "We need your current password to confirm any changes.",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions btn-group mt-4">
    <%= f.button :submit, "Update", class: 'btn btn-primary' %>
    <%= link_to :back, class: 'btn btn-outline-primary' do %>
      <i class="bi bi-chevron-left"></i> Back
    <% end %>
  </div>
<% end %>
